@import '../shared/breakpoints.scss';

.container {
  width: 90%;
  margin: auto;
  padding: 3rem;
  margin-top: 3rem;
  background-color: lightpink;

  p {
    font-size: 2rem;
  }

  @media (min-width: #{map-get($breakpoints, md)}) {
    width: 80%;
    max-width: map-get($breakpoints, lg);
  }
}